{% extends 'base.html' %}

{% block contenido %}
    <div class="container my-3">
        <div class="row">
            {% if request.user.is_authenticated %}
            <div class="col-md-4">
                <div class="card bourder rounded-2 shadow p-3 mb-3">
                    <div class="card-body">
                        <h2>{{ user.first_name }} {{ user.last_name}}</h2>
                        <h5>{{ group_name|capfirst }}</h5>
                        <p><strong>Nombre de usuario: </strong>{{ user.username}}</p>
                        <hr>
                        <a class="btn btn-outline-secondary" href="#">Editar Perfil</a>
                        <a class="btn btn-danger" href="{% url 'logout' %}">Cerrar Sesion</a>
                    </div> 
                </div>
            </div>
            <div class="col-md-8">
                <div class="card bourder rounded-2 shadow p-3 mb-3">
                    <div class="card-body">
                        {% if group_name == 'Suscriptor' %}
                            {% include 'profile/suscriptor.html' %}
                        {% elif group_name == 'Autor' %}
                            {% include 'profile/autor.html' %}
                        {% endif %}
                    </div> 
                </div>
            </div>
            {% else %}
                {% include 'profile/visitante.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}