{% extends "base.html" %}
{% block titulo %}{{ autor.username }}{% endblock %}
{% block contenido %}
  <h1>Contenidos de: {{ autor.username }}</h1>
  <p>Email: {{ autor.email }}</p>

  <ul class="contenido-list">
    {% for contenido in contenidos %}
      <li class="contenido-portlet">
        <div class="portlet-title">
          <h5><a href="{% url 'detalle_contenido' contenido.id %}">{{ contenido.titulo }}</a></h5>
        </div>
        <div class="portlet-references">
          <p>
            Autor: <a href="{% url 'detalle_autor' contenido.user.pk %}">{{ contenido.user.username }}</a> |
            Categoría: <a href="{% url 'mostrar_contenidos' contenido.categoria.pk %}">{{ contenido.categoria }}</a> |
            {{ contenido.fecha }}
          </p>
        </div>
        <div class="portlet-body">
          {{ contenido.descripcion | safe }}
        </div>
        {% if contenido.estado == "Rechazado" %}
          <div class="contenido-rechazado">
            <p>Estado: Rechazado</p>
            <p>Razón de Rechazo: {{ contenido.razon_rechazo }}</p>
          </div>
        {% else %}
          <div class="contenido-estado">
            <p>Estado: {{ contenido.estado }}</p>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}

