{% extends "base.html" %}
{%block titulo%}Ver contenido{% endblock %}
{% block contenido %}
    <h1>{{ contenido.titulo }}</h1>
    <p>Categoría: {{ contenido.categoria }}</p>
    <p>Autor: <a href="{% url 'detalle_autor' contenido.user.pk %}">{{ contenido.user.username }}</a></p>
    <div>{{ contenido.descripcion | safe }}</div>
    <p>Likes: {{ contenido.likes.count }}</p>

    <!-- Agrega el botón de like aquí -->
    {% if user.is_authenticated %}
        <form action="{% url 'toggle_like' contenido.id %}" method="post">
            {% csrf_token %}
            <button type="submit">
                {% if user_likes_contenido %}
                    Quitar Like
                {% else %}
                    Dar Like
                {% endif %}
            </button>
        </form>
    {% else %}
        <a href="{% url 'login' %}?next={{ request.path }}">Inicia sesión para dar/quitar like.</a>
    {% endif %}
    <button type="button" id="copy-button" onclick="copyToClipboard()">Compartir!</button>
    <script>
        function copyToClipboard() {
            const url = window.location.href;
            navigator.clipboard.writeText(url).then(function() {
                alert('URL copiada al portapapeles: ' + url);
            }, function() {
                alert('No se pudo copiar la URL al portapapeles.');
            });
        }
    </script>

{% endblock %}