{% extends "base.html" %}
{% load comments %}
{% load custom_filters %}
{% load static %}
{% block titulo %}Ver contenido{% endblock %}
{% block contenido %}

{% if contenido.estado != 'Publicado' %}
<div class="card text-dark mx-auto mb-3 mt-3" style="width: 70%;background-color: #f73232;">
    <div class="card-body">
        <h1 class="text-center">Vista Previa de Contenido</h1>
    </div>
</div>
{% endif %}
    <div class="contenido-detallado">
        <div class="contenido-title d-flex justify-content-between align-items-center">
            <h1>{{ contenido.titulo }}</h1>
            {% if perms.contenido.puede_inactivar_contenido %}
                <a href="{% url 'confirmar_desactivacion' pk=contenido.id %}"><i class="bi-trash" title="Desactivar Contenido" style="cursor: pointer;"></i></a>
            {% endif %}
        </div>
        <div class="contenido-references">
            <p>Autor: <a href="{% url 'detalle_autor' contenido.user.pk %}">{{ contenido.user.username }}</a> | Categoría: <a href="{% url 'mostrar_contenidos' contenido.categoria.pk %}">{{ contenido.categoria }}</a> | {{ contenido.fecha }}</p>
        </div>
        <div class="contenido-body">
            {{ contenido.descripcion | safe }}
            {% if contenido.images.all %}
                <h2>Imágenes:</h2>
                <ul>
                    {% for image in contenido.images.all %}
                        <li>
                            <img src="{{ image.image.url }}" alt="{{ contenido.titulo }}" width="400" height="300">
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            
            {% if contenido.videos.all %}
                <h2>Videos:</h2>
                <ul>
                    {% for video in contenido.videos.all %}
                        <li>
                            <video controls width="400" height="300">
                                <source src="{{ video.video.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if contenido.archivos.all %}
                <h2>Archivos:</h2>
                <ul>
                    {% for archivo in contenido.archivos.all %}
                        <li>
                            <a href="{{ archivo.archivo.url }}" target="_blank">{{ archivo.archivo.name|filename }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% if contenido.estado == 'Publicado' %}
        {% get_comment_count for contenido as comment_count %}
        <div class="ps-2 py-1" style="border-top: 2px solid black;">
            <form class="d-flex gap-4 align-items-center" method="post" action="{% url 'detalle_contenido' pk=contenido.id %}">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <div>
                    <label for="estrellas">Calificar:</label>
                    <select name="estrellas">
                        <option value="0" {% if calificacion == 0 %}selected{% endif %}>Sin calificar</option>
                        <option value="1" {% if calificacion == 1 %}selected{% endif %}>1 estrella</option>
                        <option value="2" {% if calificacion == 2 %}selected{% endif %}>2 estrellas</option>
                        <option value="3" {% if calificacion == 3 %}selected{% endif %}>3 estrellas</option>
                        <option value="4" {% if calificacion == 4 %}selected{% endif %}>4 estrellas</option>
                        <option value="5" {% if calificacion == 5 %}selected{% endif %}>5 estrellas</option>
                    </select>
                    {% if calificacion %}
                        <span style="font-weight: bold;color: red;">Calificado!</span>
                    {% endif %}
                </div>
                <button class="btn btn-primary btn-sm" type="submit">Calificar</button>
                {% endif %}
                <span>Calificación promedio: {{ promedio_calificacion|default:"No hay calificaciones aún" }} ( {{ cantidad_calificaciones }} calificacion(es) )</span>
            </form>
        </div>
        <div class="contenido-interactions-data d-flex justify-content-around">
            <p>Likes: {{ contenido.likes.count }}</p>
            <p>Dislikes: {{ contenido.dislikes.count }}</p>
            <p>Visualizaciones: {{ contenido.visitas }}</p>
            <p>Comentarios: {{ comment_count }}</p>
            <p>Veces compartido: {{ contenido.compartidos }}</p>
        </div>
        <div class="contenido-buttons">
            {% if user.is_authenticated %}
                <form class="w-100" action="{% url 'toggle_like' contenido.id %}" method="post">
                    {% csrf_token %}
                    <button class="w-100 interaction-button" type="submit">
                        {% if user_likes_contenido %}
                            Quitar Like
                        {% else %}
                            Dar Like
                        {% endif %}
                    </button>
                </form>
                <form class="w-100" action="{% url 'toggle_dislike' contenido.id %}" method="post">
                    {% csrf_token %}
                <button class="w-100 interaction-button" type="submit">
                    {% if user_dislikes_contenido %}
                        Quitar Dislike
                    {% else %}
                        Dar Dislike
                    {% endif %}
                </button>
                </form>
            {% else %}
                <button class="w-100 interaction-button"><a href="{% url 'login' %}?next={{ request.path }}">Inicia sesión para dar/quitar like.</a></button>
            {% endif %}
            <button class="w-100 interaction-button" type="button" id="copy-button" onclick="shareContent( '{{ contenido.id }}' )" data-bs-toggle="modal" data-bs-target="#qrModal">Compartir!</button>     
            
            <!-- Modal -->
            <div class="modal fade" id="qrModal" tabindex="-1" aria-labelledby="qrModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="qrModalLabel">Enlace Generado</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="w-100 mx-auto" src="{% url 'generate_qr_code' %}" alt="Compartir!">
                            <p>
                                URL copiado al portapapeles:<br/><a id="enlace-compartir"></a>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="contenido-comentarios">
            {% if user.is_authenticated %}
            <div class="mb-5">
                {% render_comment_form for contenido %}
            </div>
            {% else %}
            <div class="py-4 text-center">
                <a href="{% url 'login' %}?next={{ request.path }}"><b>Inicia sesión para publicar un comentario.</b></a>
            </div>
            {% endif %}
            <hr/>
            {% if comment_count %}
            <div class="comments">
                {% render_comment_list for contenido %}
            </div>
            {% else %}
            <div class="py-4 text-center">
                No hay comentarios.
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <script>
        function shareContent(contenidoId) {
            const compartirUrl = `/contenido/contenido/${contenidoId}/compartir/`;
            const csrfToken = getCookie('csrftoken');
            const currentURL = window.location.href;
            fetch(compartirUrl, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({}),
            })
            .then(response => {
                if (response.ok) {
                    const enlaceCompartir = document.getElementById('enlace-compartir');
                    enlaceCompartir.textContent = `${currentURL}`;
                    enlaceCompartir.href = `${currentURL}`;
                    const tempInput = document.createElement('input');
                    tempInput.value = currentURL;
                    document.body.appendChild(tempInput);
                    tempInput.select();
                    document.execCommand('copy');
                    document.body.removeChild(tempInput);
                } else {
                    console.error('Failed to update share count.');
                }
            })
            .catch(error => {
                console.error(error);
            });
        }
    
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) {
                return parts.pop().split(';').shift();
            }
        }
    </script>
{% endblock %}
