{% extends "base.html" %}
{%block titulo%}Contenidos a Publicar{% endblock %}
{% block contenido %}
    <h2>Listado de Contenidos a Publicar</h2>
    <ul class="contenido-list"></ul>
        {% for contenido in revisados %}
        <li class="contenido-portlet">
            <div class="portlet-title">
                <h5><a href="{% url 'detalle_contenido' contenido.id %}">{{ contenido.titulo }}</a></h5>
            </div>
            <div class="portlet-references">
                <p>Autor: <a href="{% url 'detalle_autor' contenido.user.pk %}">{{ contenido.user.username }}</a> | Categoría: <a href="{% url 'mostrar_contenidos' contenido.categoria.pk %}">{{ contenido.categoria }}</a> | {{ contenido.fecha }}</p>
            </div>
            <div class="portlet-body">
                {{ contenido.descripcion | safe }}
            </div>
            {% if not contenido.nota == "" and not contenido.nota == None %}
            <div class="card text-dark" style="background-color: #f3b805;border-radius: 0px;">
                <div class="card-header" style="font-weight: bold;">Nota del Contenido</div>
                <div class="card-body">
                    <p class="card-text">{{ contenido.nota }}</p>
                </div>
            </div>
            {% endif %}
            <div class="d-flex" style="border-top: 2px solid black;">
                <a class="btn btn-danger btn-group w-100" href="{% url 'rechazar_contenido' contenido.id %}" style="border-radius: 0px 0px 0px 9px">Rechazar</a>
                <a class="btn btn-primary btn-group w-100" href="{% url 'publicar_contenido' contenido.id %}" style="border-radius: 0px 0px 9px 0px">Publicar</a>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}