{% extends "base.html" %}
{% block titulo %}Tablero Kanban{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="kanban-column">
                    <h2>En revisión</h2>
                    <ul>
                        {% for contenido in contenidos %}
                        {% if contenido.estado == 'En revisión' %}
                            <li><a href="{% url 'detalle_contenido' contenido.id %}">{{ contenido.titulo }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="kanban-column">
                    <h2>Publicado</h2>
                    <ul>
                        {% for contenido in contenidos %}
                        {% if contenido.estado == 'Publicado' %}
                            <li><a href="{% url 'detalle_contenido' contenido.id %}">{{ contenido.titulo }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="kanban-column">
                    <h2>Rechazado</h2>
                    <ul>
                        {% for contenido in contenidos %}
                        {% if contenido.estado == 'Rechazado' %}
                            <li><a href="{% url 'detalle_contenido' contenido.id %}">{{ contenido.titulo }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
