{% extends "base.html" %}
{%block titulo%}Contenidos en Revision{% endblock %}
{% block contenido %}
    <h2>Listado de Contenidos en Revision</h2>
    <ul>
        {% for contenido in por_revisar %}
            <li>
                {{ contenido.titulo }} - {{ contenido.descripcion }} - {{ contenido.categoria}}
                <a href="{% url 'editar-contenido' contenido.id %}">Editar</a>
                <a href="{% url 'a-publicar' contenido.id %}">Aceptar</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}