{% extends "base.html" %}
{%block titulo%}Revisión de contenidos{% endblock %}
{% block contenido %}
    <h1>Listado de Contenidos en Revisión</h1>
    <ul>
        {% for contenido in borradores %}
            <li>
                {{ contenido.titulo }} - {{ contenido.descripcion }} - {{ contenido.categoria}}
                <a href="{% url 'publicar_contenido' contenido.id %}">Publicar</a>
                <a href="{% url 'rechazar_contenido' contenido.id %}">Rechazar</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}