{% extends "base.html" %}
{%block titulo%}Revisión de contenidos{% endblock %}
{% block contenido %}
    <h2>Listado de Contenidos en Revisión</h2>
    <ul class="contenido-list">
        {% for contenido in borradores %}
            <li class="contenido-portlet">
                <div class="portlet-title">
                    <h5><a href="{% url 'detalle_contenido' contenido.id %}">{{ contenido.titulo }}</a></h5>
                </div>
                <div class="portlet-references">
                    <p>Autor: <a href="{% url 'detalle_autor' contenido.user.pk %}">{{ contenido.user.username }}</a> | Categoría: <a href="{% url 'mostrar_contenidos' contenido.categoria.pk %}">{{ contenido.categoria }}</a> | {{ contenido.fecha }}</p>
                </div>
                <div class="portlet-body">
                    {{ contenido.descripcion | safe }}
                </div>
                <div class="d-flex">
                    <a class="btn btn-primary btn-group w-100" href="{% url 'publicar_contenido' contenido.id %}">Publicar</a>
                    <a class="btn btn-danger btn-group w-100" href="{% url 'rechazar_contenido' contenido.id %}">Rechazar</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}