{% extends "base.html" %}
{%block titulo%}Editar version{% endblock %}
{% block contenido %}
{% load crispy_forms_tags %}
{% if version.contenido.estado == 'Borrador' %}
<form method="post">
    {% csrf_token %}
    <div class="card mx-auto" style="width: 60%">
        <div class="card-body">
            <h4 class="card-title">Complete los campos:</h4>
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" name="borradorcito" class="btn btn-secondary float-end">Guardar Borrador</button>
        </div>
    </div>
</form>
{% else %}
<h4>{{version.titulo}}</h4>
<div>
    {{ version.descripcion | safe }}
</div>
{% endif %}
{% endblock %}