[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=derlis
Group=www-data
WorkingDirectory=/home/francisco/Desktop/proyecto/cms-is2/
ExecStart=/home/francisco/Desktop/proyecto/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          cms_is2.wsgi:application

[Install]
WantedBy=multi-user.target
