{% extends "base.html" %}
{%block titulo%}Editar categoria{% endblock %}
{% block contenido %}
{% load crispy_forms_tags %}
<form method="post">
  {% csrf_token %}
  <div class="card mx-auto" style="width: 40%">
      <div class="card-body">
          <h3 class="card-title">Editar Categoria</h3>
          {{ form | crispy }}
          <button type="submit" class="btn btn-primary float-end">Guardar</button>
          <a href="{% url 'categoria-list' %}">Volver a la Lista de Categorias</a>
      </div>
  </div>
</form>
{% endblock %}
