{% extends "base.html" %}
{% block contenido %}
    {% if request.user.is_authenticated %}
        <h1>Bienvenido {{ request.user.username }}</h1>
        <h5>{{ group_name|capfirst }}</h5>
    {% else %}
        <h1>Bienvenido Visitante</h1>
    {% endif %}
    <ul>
        {% for categoria in categorias %}
            <li>
                <a href="{% url 'mostrar_contenidos' categoria.id %}">{{ categoria.nombre }} ({{ categoria.num_contenidos }})</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}