{% extends "base.html" %}
{%block titulo%}Bienvenido!{% endblock %}
{% block contenido %}
    {% if request.user.is_authenticated %}
        <h1>Bienvenido {{ request.user.username }} ({{ group_name|capfirst }})</h1>
    {% else %}
        <h1>Bienvenido Visitante</h1>
    {% endif %}
    <div class="container-principal">
        <ul class="contenido-list inicio-contenidos">
            {% for contenido in contenidos %}
                <li class="contenido-portlet">
                    <div class="portlet-title">
                        <h5><a href="{% url 'detalle_contenido' contenido.id %}">{{ contenido.titulo }}</a></h5>
                    </div>
                    <div class="portlet-references">
                        <p>Autor: <a href="{% url 'detalle_autor' contenido.user.pk %}">{{ contenido.user.username }}</a> | Categoría: <a href="{% url 'mostrar_contenidos' contenido.categoria.pk %}">{{ contenido.categoria }}</a> | {{ contenido.fecha }}</p>
                    </div>
                    <div class="portlet-body">
                        {{ contenido.resumen }}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="inicio-categorias">
            {% if request.user.is_authenticated %}
                {% if categorias_favoritas %}
                    <ul class="contenedor-categorias">
                        <h3 class="categoria-titulo">Categorias Favoritas</h3>
                        {% for categoria in categorias_favoritas %}
                            <li>
                                <a href="{% url 'mostrar_contenidos' categoria.id %}">{{ categoria.nombre }} ({{ categoria.num_contenidos }})</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            <ul class="contenedor-categorias">
                <h3 class="categoria-titulo">Categorias</h3>
                {% for categoria in categorias %}
                    <li>
                        <a href="{% url 'mostrar_contenidos' categoria.id %}">{{ categoria.nombre }} ({{ categoria.num_contenidos }})</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}