{% extends 'base.html' %}
{%block titulo%}{{ categoria.nombre }}{% endblock %}
{% block contenido %}
<div class='my-4' style="margin-left: 10%;">
    <h1 style="display: flex; align-items: center;">
        <span>Contenidos de la Categoría: {{ categoria.nombre }}</span>
    </h1>

    {% if user.is_authenticated %}
        <form action="{% url 'toggle_favorito' categoria.id %}" method="post" class="d-inline">
            {% csrf_token %}
            <button class="interaction-button" type="submit" style="font-size: 12px; padding: 4px 8px;">
            {% if user_favorito_categoria %}
                Dejar de seguir categoria
            {% else %}
                Seguir categoria
            {% endif %}
            </button>
        </form>
    {% else %}
        <button class='btn btn-primary d-inline'><a href="{% url 'login' %}?next={{ request.path }}">Inicia sesión para seguir categoria.</a></button>
    {% endif %}

    <span class="d-inline ms-4">Seguidores: {{ categoria.seguidores.count }}</span>
</div>

<ul class="contenido-list">
    {% for contenido in contenidos %}
        <li class="contenido-portlet">
            <div class="portlet-title">
                <h5><a href="{% url 'detalle_contenido' contenido.id %}">{{ contenido.titulo }}</a></h5>
            </div>
            <div class="portlet-references">
                <p>Autor: <a href="{% url 'detalle_autor' contenido.user.pk %}">{{ contenido.user.username }}</a> | {{ contenido.fecha }}</p>
            </div>
            <div class="portlet-body">
                {{ contenido.resumen }}
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}