{% extends 'base.html' %}
{% block titulo %}{{ categoria.nombre }}{% endblock %}
{% block contenido %}
<h1 style="display: flex; align-items: center;">
    <span>Contenidos de la Categoría: {{ categoria.nombre }}</span>
    <span style="margin-left: 55px; font-size: 30px;">Seguidores: {{ categoria.seguidores.count }}</span>
    {% if user.is_authenticated %}
        <form action="{% url 'toggle_favorito' categoria.id %}" method="post" style="margin-left: 10px;">
            {% csrf_token %}
            <button class="btn btn-primary btn-sm my-2 my-sm-0" type="submit">
                {% if user_favorito_categoria %}
                    Dejar de seguir categoria
                {% else %}
                    Seguir categoria
                {% endif %}
            </button>
        </form>
    {% else %}
        <a href="{% url 'login' %}?next={{ request.path }}">Inicia sesión para seguir categoria.</a>
    {% endif %}
</h1>
<ul class="contenido-list">
    {% for contenido in contenidos %}
        <li class="contenido-portlet">
            <div class="portlet-title">
                <h5><a href="{% url 'detalle_contenido' contenido.id %}">{{ contenido.titulo }}</a></h5>
            </div>
            <div class="portlet-references">
                <p>Autor: <a href="{% url 'detalle_autor' contenido.user.pk %}">{{ contenido.user.username }}</a> | {{ contenido.fecha }}</p>
            </div>
            <div class="portlet-body">
                {{ contenido.resumen }}
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
