{% extends "base.html" %}
{% block titulo %}Lista de usuarios{% endblock %}
{% block contenido %}
  <div class="container">
    <h2>Lista de Usuarios</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          {% if not user.username == request.user.username %}
            <tr>
              <td style="width: 40%;">
                <a href="{% url 'user-detail' user.pk %}">{{ user.username }}</a>
              </td>
              <td style="width: 30%;">
                {% if user.is_active %}
                  <span class="badge badge-primary" style="color: steelblue;">Activo</span>
                {% else %}
                  <span class="badge badge-secondary" style="color: darkslategray;">Inactivo</span>
                {% endif %}
              </td>
              <td style="width: 30%;">
                  <a href="{% url 'user-update' user.pk %}" class="btn btn-primary btn-sm d-inline">Editar</a>
                {% if user.is_active %}
                  <a href="{% url 'desactivar-usuario' user.pk %}" class="btn btn-danger btn-sm d-inline">Inactivar</a>
                {% else %}
                  <a href="{% url 'activar-usuario' user.pk %}"  class="btn btn-success btn-sm d-inline">Activar</a>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% empty %}
        <tr>
          <td colspan="3">No hay usuarios.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'user-create' %}" class="btn btn-primary">Crear Usuario</a>
  </div>
{% endblock %}
